# ทำให้ editor ส่วนใหญ่เคารพกติกาเดียวกัน
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# ใช้ space เท่านั้น
indent_style = space
indent_size = 2

# ไฟล์ Makefile บางอย่างชอบแท็บ (ถ้ามี)
[Makefile]
indent_style = tab
